################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/was founded in 2017 and quickly became famous for building advanced gaming technology for the global gambling industry.docx
*.bin
*.obj
*.packages